stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - cp "$env" ./server/.env
    - cp "$env" .env
    - cp "$client_env" ./client/.env
    - docker build -t nazary-api:$CI_COMMIT_SHORT_SHA ./server/
    - docker build -t nazary-client:$CI_COMMIT_SHORT_SHA ./client/

test-job:
  stage: test
  script:
    - docker run --rm nazary-api:$CI_COMMIT_SHORT_SHA npm run test

deploy-job:
  stage: deploy
  script:
    - cp "$env" ./server/.env
    - cp "$env" .env
    - cp "$client_env" ./client/.env
    - docker compose --env-file "$env" -f docker-compose.yml up -d --build
